CONFIG_CNN_SQ8=y
CONFIG_MODEL_LOGLEVEL=1
CONFIG_CL_SLAVE_CORE_STACK_SIZE=512

# Cluster stack size for master core and other cores
CONFIG_ENABLE_NNTOOL=y

CONFIG_MODEL_FLOAT16_TYPE_IEEE16=y

CONFIG_BOARD_GAP9MOD_V1_0_B=y
CONFIG_BOARD_GAP9EVK_V1_3=y
CONFIG_PLATFORM_GVSOC=y

CONFIG_LIB_GAP_LIB=y
CONFIG_LIB_GAP_LIB_IMG_IO=y
CONFIG_DRIVER_READFS=y
CONFIG_DRIVER_HOSTFS=y
CONFIG_DRIVER_TYPE_FLASH=y
CONFIG_DRIVER_TYPE_RAM=y
